# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Global settings
[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_style = space
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_style = space
tab_width = 2

[*.{md,json}]
indent_style = space
tab_width = 4

[*.cs]
indent_style = space
tab_width = 4
