<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Fluent Assertions" Description="Code analysis rules for Fluent Assertions." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0464" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0652" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0728" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Common" RuleNamespace="Microsoft.CodeAnalysis.Common">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1724" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0035" Action="Error" />
	<Rule Id="IDE0007" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Warning" />
    <Rule Id="IDE0033" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1029" Action="None" />
	<Rule Id="RCS1090" Action="None" />
    <Rule Id="RCS1080" Action="None" />
    <Rule Id="RCS1102" Action="None" />
    <Rule Id="RCS1119" Action="None" />
    <Rule Id="RCS1141" Action="None" />
    <Rule Id="RCS1142" Action="None" />
	<Rule Id="RCS1171" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="U2UConsult.CodeAnalyzers" RuleNamespace="U2UConsult.CodeAnalyzers">
    <Rule Id="U2U1000" Action="None" />
    <Rule Id="U2U1001" Action="None" />
	<Rule Id="U2U1002" Action="None" />
	<Rule Id="U2U1003" Action="None" />
    <Rule Id="U2U1010" Action="None" />
	<Rule Id="U2U1022" Action="None" />
	<Rule Id="U2U1101" Action="None" />
    <Rule Id="U2U1103" Action="None" />
    <Rule Id="U2U1104" Action="None" />
    <Rule Id="U2U1105" Action="None" />
    <Rule Id="U2U1108" Action="None" />
    <Rule Id="U2U1201" Action="Hidden" />
    <Rule Id="U2U1202" Action="None" />
    <Rule Id="U2U1212" Action="None" />
  </Rules>
</RuleSet>