<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="fluentassertions.winrt.specs"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>FluentAssertions.WinRT.Specs</DisplayName>
    <PublisherDisplayName>Oren</PublisherDisplayName>
    <Logo>Images\UnitTestStoreLogo.png</Logo>
    <Description>FluentAssertions.WinRT.Specs</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="MSTestExecutor.App" 
        Executable="MSTestExecutor.Appx.exe" 
        EntryPoint="MSTestExecutor.App">
        <VisualElements 
            DisplayName="NoTiles"
            Logo="Images\UnitTestLogo.png"
            SmallLogo="Images\UnitTestSmallLogo.png"
            Description="MSTestExecutor.App"
            ForegroundText="light"
            BackgroundColor="#0084FF">
            <SplashScreen Image="Images\UnitTestSplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  
</Package>
