---
---

@import "{{ site.theme }}";

#docs_banner {
   @extend #forkme_banner;
   top: 50px;
}

#sidebar_left {
    background: #f2f2f2;
    width: 20%;
    height: 600px;
    float: left;
}

#sidebar_right {
    background: #f2f2f2;
    width: 18%;
    height: 600px;
    float: right;
    margin-top: 60px;
}

#main_content {
    @extend #main_content;
    padding-top: 40px;
    width: 60%;
    display: inline-block;
}

.inner {
    @extend .inner;
    max-width: 60%;
}

h2 {
   @extend h2;
   font-style: italic
}