<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Chill" version="2.2.0" targetFramework="net45" />
  <package id="Chill.Autofac" version="2.2.0-beta0001" targetFramework="net45" />
  <package id="FakeItEasy" version="1.16.0" targetFramework="net45" />
</packages>