---
---

#sidebar_right {
    background: #f2f2f2;
    width: 18%;
    height: 600px;
    float: right;
    margin-top: 60px;
}

$content-width:    60% !default;

@import "jekyll-theme-slate";

$header-line-height: 120px;

.site-title, .site-title:visited, .site-title:hover {
  background: url(../images/logo_white.png) center left no-repeat;
  background-size: contain;
  line-height: $header-line-height;
  width: 206px;
  text-shadow: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.site-nav {
  line-height: $header-line-height;
  font-weight: bold;
}

.site-header{
  padding-top: 10px;
  padding-bottom: 10px;
}