name: Qodana

on:
  workflow_dispatch:
  pull_request_target:
  push:
    branches:
      - master
      - develop

jobs:
  qodana-scan:
    name: Qodana Scan
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.2
        with:
          upload-result: ${{ github.ref_name == 'master' || github.ref_name == 'develop' }}
          args: --baseline,qodana.sarif.json,--ide,QDNET
          pr-mode: ${{ github.event_name == 'pull_request_target' }}
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
