name: Qodana

on:
  workflow_dispatch:
  pull_request_target:
  push:
    branches:
      - main
      - develop

jobs:
  qodana-scan:
    name: Qodana Scan
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          upload-result: ${{ github.ref_name == 'main' || github.ref_name == 'develop' }}
          args: --baseline,qodana.sarif.json,--ide,QDNET
          pr-mode: ${{ github.event_name == 'pull_request_target' }}
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
